# day 1d

In [8]:
7*7

49

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(
    [
     {
         "name": "Earl Grey Cloud",
         "category": "E-commerce"
     },
    {
         "name": "Mint Medly Cloud",
         "category": "Sales"
     },
    {
         "name": "Green Cloud",
         "category": "Service"
     },
    ]
)

In [11]:
df

     category              name
0  E-commerce   Earl Grey Cloud
1       Sales  Mint Medly Cloud
2     Service       Green Cloud

##Exercise
Read Data

In [12]:
df = pd.read_csv("movie_history_for_user.csv")

In [13]:
df

,adult,vote_average,vote_count,popularity,release_year,is_action,is_drama,is_comedy,is_scifi,watched
0,0,6.8,3838,220.680675,2017,0,0,0,0,0
1,0,6.0,339,146.329357,2017,0,0,1,0,0
2,0,7.5,596,113.730475,2017,1,0,0,1,0
3,0,7.1,2686,82.304103,2017,1,0,0,0,0
4,0,7.3,3631,82.303675,2014,1,1,0,1,1
5,0,7.5,4602,67.713878,2017,1,1,0,1,0
6,0,5.2,996,55.476211,2017,1,0,0,0,0
7,0,6.3,607,51.655521,2017,1,0,0,1,0
8,0,6.1,2177,48.943499,2017,1,0,0,0,0
9,0,6.9,4668,43.621405,2014,1,0,0,0,1
10,0,7.2,8380,41.354905,2015,1,0,0,1,0
11,0,6.2,1220,41.212696,2017,0,0,0,1,0
12,0,6.5,1604,41.140038,2017,1,0,1,0,1
13,0,7.8,8223,39.437367,2014,1,0,0,1,1
14,0,6.8,2850,39.014829,2017,1,0,0,0,0
15,0,5.8,1467,38.280206,2017,0,0,0,1,0
16,0,6.5,7733,37.198215,2015,1,0,0,1,0
17,0,7.4,6059,34.303853,2003,1,0,0,0,1
18,0,6.0,47,33.620069,2017,1,1,0,1,0
19,0,7.6,2813,32.718841,2017,1,0,1,1,0
20,0,6.8,3838,220.680675,2017,0,0,0,0,0
21,0,6.0,339,146.329357,2017,0,0,1,0,0
22,0,7.5,596,113.730475,2017,1,0,0,1,0
23,0,7.1,2686,82.304103,2017,1,0,0,0,0
24,0,7.3,3631,82.303675,2014,1,1,0,1,1
25,0,7.5,4602,67.713878,2017,1,1,0,1,0
26,0,5.2,996,55.476211,2017,1,0,0,0,0
27,0,6.3,607,51.655521,2017,1,0,0,1,0
28,0,6.1,2177,48.943499,2017,1,0,0,0,0
29,0,6.9,4668,43.621405,2014,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
950,0,7.2,8380,41.354905,2015,1,0,0,1,0
951,0,6.2,1220,41.212696,2017,0,0,0,1,0
952,0,6.5,1604,41.140038,2017,1,0,1,0,1
953,0,7.8,8223,39.437367,2014,1,0,0,1,1
954,0,6.8,2850,39.014829,2017,1,0,0,0,0
955,0,5.8,1467,38.280206,2017,0,0,0,1,0
956,0,6.5,7733,37.198215,2015,1,0,0,1,0
957,0,7.4,6059,34.303853,2003,1,0,0,0,1
958,0,6.0,47,33.620069,2017,1,1,0,1,0
959,0,7.6,2813,32.718841,2017,1,0,1,1,0
960,0,6.8,3838,220.680675,2017,0,0,0,0,0
961,0,6.0,339,146.329357,2017,0,0,1,0,0
962,0,7.5,596,113.730475,2017,1,0,0,1,0
963,0,7.1,2686,82.304103,2017,1,0,0,0,0
964,0,7.3,3631,82.303675,2014,1,1,0,1,1
965,0,7.5,4602,67.713878,2017,1,1,0,1,0
966,0,5.2,996,55.476211,2017,1,0,0,0,0
967,0,6.3,607,51.655521,2017,1,0,0,1,0
968,0,6.1,2177,48.943499,2017,1,0,0,0,0
969,0,6.9,4668,43.621405,2014,1,0,0,0,1
970,0,7.2,8380,41.354905,2015,1,0,0,1,0
971,0,6.2,1220,41.212696,2017,0,0,0,1,0
972,0,6.5,1604,41.140038,2017,1,0,1,0,1
973,0,7.8,8223,39.437367,2014,1,0,0,1,1
974,0,6.8,2850,39.014829,2017,1,0,0,0,0
975,0,5.8,1467,38.280206,2017,0,0,0,1,0
976,0,6.5,7733,37.198215,2015,1,0,0,1,0
977,0,7.4,6059,34.303853,2003,1,0,0,0,1
978,0,6.0,47,33.620069,2017,1,1,0,1,0
979,0,7.6,2813,32.718841,2017,1,0,1,1,0

In [14]:
df.dtypes

adult             int64
vote_average    float64
vote_count        int64
popularity      float64
release_year      int64
is_action         int64
is_drama          int64
is_comedy         int64
is_scifi          int64
watched           int64
dtype: object

In [15]:
df.columns

Index(['adult', 'vote_average', 'vote_count', 'popularity', 'release_year',
       'is_action', 'is_drama', 'is_comedy', 'is_scifi', 'watched'],
      dtype='object')

In [16]:
fields = [
'vote_average', 'vote_count', 'watched'
]

In [17]:
df[fields]

     vote_average  vote_count  watched
0             6.8        3838        0
1             6.0         339        0
2             7.5         596        0
3             7.1        2686        0
4             7.3        3631        1
5             7.5        4602        0
6             5.2         996        0
7             6.3         607        0
8             6.1        2177        0
9             6.9        4668        1
10            7.2        8380        0
11            6.2        1220        0
12            6.5        1604        1
13            7.8        8223        1
14            6.8        2850        0
15            5.8        1467        0
16            6.5        7733        0
17            7.4        6059        1
18            6.0          47        0
19            7.6        2813        0
20            6.8        3838        0
21            6.0         339        0
22            7.5         596        0
23            7.1        2686        0
24            7.3        3631        1
25            7.5        4602        0
26            5.2         996        0
27            6.3         607        0
28            6.1        2177        0
29            6.9        4668        1
..            ...         ...      ...
950           7.2        8380        0
951           6.2        1220        0
952           6.5        1604        1
953           7.8        8223        1
954           6.8        2850        0
955           5.8        1467        0
956           6.5        7733        0
957           7.4        6059        1
958           6.0          47        0
959           7.6        2813        0
960           6.8        3838        0
961           6.0         339        0
962           7.5         596        0
963           7.1        2686        0
964           7.3        3631        1
965           7.5        4602        0
966           5.2         996        0
967           6.3         607        0
968           6.1        2177        0
969           6.9        4668        1
970           7.2        8380        0
971           6.2        1220        0
972           6.5        1604        1
973           7.8        8223        1
974           6.8        2850        0
975           5.8        1467        0
976           6.5        7733        0
977           7.4        6059        1
978           6.0          47        0
979           7.6        2813        0

[980 rows x 3 columns]

In [18]:
df.tail()

,adult,vote_average,vote_count,popularity,release_year,is_action,is_drama,is_comedy,is_scifi,watched
975,0,5.8,1467,38.280206,2017,0,0,0,1,0
976,0,6.5,7733,37.198215,2015,1,0,0,1,0
977,0,7.4,6059,34.303853,2003,1,0,0,0,1
978,0,6.0,47,33.620069,2017,1,1,0,1,0
979,0,7.6,2813,32.718841,2017,1,0,1,1,0

In [20]:
df.tail()[['watched']]

     watched
975        0
976        0
977        1
978        0
979        0

In [22]:
df['popularity']

0      220.680675
1      146.329357
2      113.730475
3       82.304103
4       82.303675
5       67.713878
6       55.476211
7       51.655521
8       48.943499
9       43.621405
10      41.354905
11      41.212696
12      41.140038
13      39.437367
14      39.014829
15      38.280206
16      37.198215
17      34.303853
18      33.620069
19      32.718841
20     220.680675
21     146.329357
22     113.730475
23      82.304103
24      82.303675
25      67.713878
26      55.476211
27      51.655521
28      48.943499
29      43.621405
          ...
950     41.354905
951     41.212696
952     41.140038
953     39.437367
954     39.014829
955     38.280206
956     37.198215
957     34.303853
958     33.620069
959     32.718841
960    220.680675
961    146.329357
962    113.730475
963     82.304103
964     82.303675
965     67.713878
966     55.476211
967     51.655521
968     48.943499
969     43.621405
970     41.354905
971     41.212696
972     41.140038
973     39.437367
974     39.014829
975     38.280206
976     37.198215
977     34.303853
978     33.620069
979     32.718841
Name: popularity, Length: 980, dtype: float64

In [23]:
type (df['popularity'])

pandas.core.series.Series

In [24]:
type(df)

pandas.core.frame.DataFrame

##EXCRESISE 25 rows vote_count, watched, release_year

In [26]:
df.head(25)[['vote_count', 'watched', 'release_year']]

    vote_count  watched  release_year
0         3838        0          2017
1          339        0          2017
2          596        0          2017
3         2686        0          2017
4         3631        1          2014
5         4602        0          2017
6          996        0          2017
7          607        0          2017
8         2177        0          2017
9         4668        1          2014
10        8380        0          2015
11        1220        0          2017
12        1604        1          2017
13        8223        1          2014
14        2850        0          2017
15        1467        0          2017
16        7733        0          2015
17        6059        1          2003
18          47        0          2017
19        2813        0          2017
20        3838        0          2017
21         339        0          2017
22         596        0          2017
23        2686        0          2017
24        3631        1          2014

In [33]:
df.head(25)['vote_count'].sum()

75626

In [39]:
df['vote_count'].head(25).sum()

75626

In [41]:
df['vote_count'][:25].sum()

75626

In [42]:
df[:25]['vote_count'].sum()

75626

##excerise avg pop of last 88 movies

In [49]:
df['popularity'].tail(88).median()

41.2838005

In [50]:
df['popularity'].tail(88).mean()

62.04400784090908

In [53]:
df['popularity'][-88:].mean()

62.04400784090908

In [54]:
df.describe()

,adult,vote_average,vote_count,popularity,release_year,is_action,is_drama,is_comedy,is_scifi,watched
count,980.0,980.000000,980.000000,980.000000,980.000000,980.000000,980.000000,980.000000,980.000000,980.000000
mean,0.0,6.725000,3226.800000,64.551991,2015.650000,0.800000,0.150000,0.150000,0.550000,0.250000
std,0.0,0.689464,2580.334836,46.007305,3.120487,0.400204,0.357254,0.357254,0.497748,0.433234
min,0.0,5.200000,47.000000,32.718841,2003.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,6.175000,1164.000000,38.831173,2015.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,6.800000,2749.500000,42.488155,2017.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,0.0,7.325000,4618.500000,71.361327,2017.000000,1.000000,0.000000,0.000000,1.000000,0.250000
max,0.0,7.800000,8380.000000,220.680675,2017.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [55]:
df = pd.read_csv("Boston_Housing.csv")

In [56]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311,15.2,392.52,20.45,15.0
11,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.58,23.1
17,0.78420,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307,21.0,386.75,14.67,17.5
18,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0,0.538,5.727,69.5,3.7965,4,307,21.0,390.95,11.28,18.2
20,1.25179,0.0,8.14,0,0.538,5.570,98.1,3.7979,4,307,21.0,376.57,21.02,13.6
21,0.85204,0.0,8.14,0,0.538,5.965,89.2,4.0123,4,307,21.0,392.53,13.83,19.6
22,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,15.2
23,0.98843,0.0,8.14,0,0.538,5.813,100.0,4.0952,4,307,21.0,394.54,19.88,14.5
24,0.75026,0.0,8.14,0,0.538,5.924,94.1,4.3996,4,307,21.0,394.33,16.30,15.6
25,0.84054,0.0,8.14,0,0.538,5.599,85.7,4.4546,4,307,21.0,303.42,16.51,13.9
26,0.67191,0.0,8.14,0,0.538,5.813,90.3,4.6820,4,307,21.0,376.88,14.81,16.6
27,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307,21.0,306.38,17.28,14.8
28,0.77299,0.0,8.14,0,0.538,6.495,94.4,4.4547,4,307,21.0,387.94,12.80,18.4
29,1.00245,0.0,8.14,0,0.538,6.674,87.3,4.2390,4,307,21.0,380.23,11.98,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,4.87141,0.0,18.10,0,0.614,6.484,93.6,2.3053,24,666,20.2,396.21,18.68,16.7
477,15.02340,0.0,18.10,0,0.614,5.304,97.3,2.1007,24,666,20.2,349.48,24.91,12.0
478,10.23300,0.0,18.10,0,0.614,6.185,96.7,2.1705,24,666,20.2,379.70,18.03,14.6
479,14.33370,0.0,18.10,0,0.614,6.229,88.0,1.9512,24,666,20.2,383.32,13.11,21.4
480,5.82401,0.0,18.10,0,0.532,6.242,64.7,3.4242,24,666,20.2,396.90,10.74,23.0
481,5.70818,0.0,18.10,0,0.532,6.750,74.9,3.3317,24,666,20.2,393.07,7.74,23.7
482,5.73116,0.0,18.10,0,0.532,7.061,77.0,3.4106,24,666,20.2,395.28,7.01,25.0
483,2.81838,0.0,18.10,0,0.532,5.762,40.3,4.0983,24,666,20.2,392.92,10.42,21.8
484,2.37857,0.0,18.10,0,0.583,5.871,41.9,3.7240,24,666,20.2,370.73,13.34,20.6
485,3.67367,0.0,18.10,0,0.583,6.312,51.9,3.9917,24,666,20.2,388.62,10.58,21.2
486,5.69175,0.0,18.10,0,0.583,6.114,79.8,3.5459,24,666,20.2,392.68,14.98,19.1
487,4.83567,0.0,18.10,0,0.583,5.905,53.2,3.1523,24,666,20.2,388.22,11.45,20.6
488,0.15086,0.0,27.74,0,0.609,5.454,92.7,1.8209,4,711,20.1,395.09,18.06,15.2
489,0.18337,0.0,27.74,0,0.609,5.414,98.3,1.7554,4,711,20.1,344.05,23.97,7.0
490,0.20746,0.0,27.74,0,0.609,5.093,98.0,1.8226,4,711,20.1,318.43,29.68,8.1
491,0.10574,0.0,27.74,0,0.609,5.983,98.8,1.8681,4,711,20.1,390.11,18.07,13.6
492,0.11132,0.0,27.74,0,0.609,5.983,83.5,2.1099,4,711,20.1,396.90,13.35,20.1
493,0.17331,0.0,9.69,0,0.585,5.707,54.0,2.3817,6,391,19.2,396.90,12.01,21.8
494,0.27957,0.0,9.69,0,0.585,5.926,42.6,2.3817,6,391,19.2,396.90,13.59,24.5
495,0.17899,0.0,9.69,0,0.585,5.670,28.8,2.7986,6,391,19.2,393.29,17.60,23.1
496,0.28960,0.0,9.69,0,0.585,5.390,72.9,2.7986,6,391,19.2,396.90,21.14,19.7
497,0.26838,0.0,9.69,0,0.585,5.794,70.6,2.8927,6,391,19.2,396.90,14.10,18.3
498,0.23912,0.0,9.69,0,0.585,6.019,65.3,2.4091,6,391,19.2,396.90,12.92,21.2
499,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [57]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [59]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [60]:
df[
    'CRIM'
].max()

88.9762

In [73]:
df.where(df['CRIM']== 0.00632).dropna()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98,24.0

In [74]:
df.where(df['CRIM']== 88.9762).dropna()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.9,17.21,10.4

In [77]:
df.where(df['CRIM']== df[
    'CRIM'
].max()).dropna()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.9,17.21,10.4

In [80]:
df.where(df['CRIM'] > 50).where(df['AGE'] > 50).dropna()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21,10.4
405,67.9208,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98,5.0
410,51.1358,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11,15.0
418,73.5341,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62,8.8

Average dollar amount for products that either CPU or Maintenace